.rain{
    min-height: calc(100vh - 68px);
    overflow: hidden;
    position: relative;
    z-index: 90;
    -webkit-transform: rotateZ(135deg);
            transform: rotateZ(135deg);
}
.raindrop{
    position: absolute;
    top: 40%;
    left: 40%;
    height: 5px;
    background: black;
    -webkit-animation: tail 2000ms ease-in-out infinite, drop 2000ms ease-in-out infinite;
            animation: tail 2000ms ease-in-out infinite, drop 2000ms ease-in-out infinite;
    z-index: 90;
}
.raindrop::before, .raindrop::after{
    content: '';
    position: absolute;
    top: calc(40% - 2px);
    right: 0;
    height: 4px;
    border-radius: 90px;
    -webkit-transform: translateX(40%) rotateZ(135deg);
            transform: translateX(40%) rotateZ(135deg);
}
.raindrop::after{
    -webkit-transform: translateX(40%) rotateZ(-135deg);
            transform: translateX(40%) rotateZ(-135deg);
}
.raindrop:nth-child(1){
    top: calc(40% - 60px);
    left: calc(40% - 70px);
    -webkit-animation-delay: 2000ms;
            animation-delay: 2000ms;
}
.raindrop:nth-child(1)::before, .raindrop:nth-child(1)::after{
    -webkit-animation-delay: 2000ms;
            animation-delay: 2000ms;
}
.raindrop:nth-child(2){
    top: calc(40% - 100px);
    left: calc(40% - 90px);
    -webkit-animation-delay: 1050ms;
            animation-delay: 1050ms;
}
.raindrop:nth-child(3){
    top: calc(40% + 20px);
    left: calc(40% + 50px);
    -webkit-animation-delay: 2500ms;
            animation-delay: 2500ms;
}
.raindrop:nth-child(4){
    top: calc(40% + 100px);
    left: calc(40% - 90px);
    -webkit-animation-delay: 2700ms;
            animation-delay: 2700ms;
}
.raindrop:nth-child(5){
    top: calc(40% + 150px);
    left: calc(40% + 120px);
    -webkit-animation-delay: 3010ms;
            animation-delay: 3010ms;
}
@-webkit-keyframes tail{
    0%{
        width: 0;
    }
    70%{
        width: 150px;
    }
    100%{
        width: 0;
    }
}
@keyframes tail{
    0%{
        width: 0;
    }
    70%{
        width: 150px;
    }
    100%{
        width: 0;
    }
}
@-webkit-keyframes drop{
    0%{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(400px);
                transform: translateX(400px);
    }
}
@keyframes drop{
    0%{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(400px);
                transform: translateX(400px);
    }
}
.anime-cover{
    background: url('../img/mug port edit 2.png') cover;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: auto;
}
.anime-cover-img{
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 100;
}
.main-img-wrapper{
    background: none;
    min-height: calc(100vh - 68px);
}
.main-img{
    background-image: url('../img/mug port edit 2.png');
	background-size: contain; /*for transparent png*/
	background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
	z-index: 100;
}