/*
base color: #F76B1D;
complementary blue: #0020B3;
complementary light blue: #2E53FF;
*/

body{
	background-color: #F76B1D;
	background: -webkit-linear-gradient(315deg, #F76B1D 0%, #F76B1D 30%, #ffb631 100%) fixed;
	background: linear-gradient(135deg, #F76B1D 0%, #F76B1D 30%, #ffb631 100%) fixed;
	text-align: center;	
}
#intropara{
	height: 100%;
	vertical-align: center;
}
#intropara h3{
	padding: 0;
	color: black;
}
#sub{
	background-color: white;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
.p-styled{
	font-family: 'Roboto', sans-serif;
	margin-top: 20px;
	font-size: 18pt;
}
.describe{
	text-align: left;
}
span{
	font-variant-caps: small-caps;
}
.notes{
	text-align: right;
	justify-content: right;
	font-style: italic;
	font-size: 20px;
	color: white;
	white-space: pre-line;
	position: absolute;
	left: 10px;
	text-shadow: 1px 2px 3px rgba(0,0,0,.7);
	z-index: 1000;
}
h1.styled{
	font-family: 'Major Mono Display', monospace;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	font-size: 2.3em;
	font-weight: bold;
}
.transparent{
	background: linear-gradient(135deg, #F76B1D 0%, #F76B1D 30%, #ffb631 100%) fixed;
	background: -webkit-linear-gradient(315deg, #F76B1D 0%, #F76B1D 30%, #ffb631 100%) fixed;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.h1-major{
	font-family: 'Major Mono Display', monospace;
	margin-bottom: 30px;
	margin-top: 30px;
}
/*div.my-container{
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	color: #fff;
}*/
.main-img-wrapper{
	background-image: url("../img/IMG_20171118_110634_HDR.jpg");
	background-size: cover;
	background-position: center;
	min-height: 400px;
	height: calc(100vh - 68px);
}
/*.main-img-wrapper{
	position: relative;
	padding-top: 56.25%;
}
#main-img{
	transform: rotate(-90deg);
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
}*/
#summary{
	padding-top: 20px;
	padding-bottom: 20px;
}
#summary h2{
	color: blue;
}
#summary i{
	color: orangered;
}
#summary p{
	font-family: 'Roboto', sans-serif;
	color: black;
	font-size: 16pt;
}
/*.shadow{
	box-shadow: 3px 8px 5px rgba(0,0,0,.5), -3px 8px 5px rgba(0,0,0,.5);
}*/
.zoom{
	transform: scale(1.0);
	transition: transform 300ms ease-out, box-shadow 300ms ease-out; 
}
.zoom:hover{
	transform: scale(1.02);
}

/*Floating social menu*/
#floating-container{
	width: 70px;
	height: 60px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 1010;
}
#floating-container:hover{
	height: 320px;
}
#floating-container a:hover, #floating-container a:visited, #floating-container a:active{
	color: white;
	text-decoration: none;
}
#floating-butt{
	width: 60px;
	height: 60px;
	color: white;
	font-size: 30px;
	text-align: center;
	display: flex;
	border-radius: 50%;
	position: fixed;
	bottom: 30px;
	right: 30px;
	box-shadow: 3px 5px 5px rgba(0,0,0,.3), -1px 1px 5px rgba(0,0,0,.3);
	border: none;
	background-color: black;
	cursor: pointer;
	z-index: 60;
	transition: all 200ms;
}
#floating-container:hover #floating-butt{
	background-color: white;
	color: black;
}
#floating-i{
	transition: all 400ms ease-out;
	-webkit-transition: all 400ms ease-out;
	-moz-transition: all 400ms ease-out;
	height: 30px;
}
/*#floating-butt:hover #floating-i{
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
}*/
.social-butt{
	width: 50px;
	height: 50px;
	color: white;
	font-size: 25px;
	position: fixed;
	right: 35px;
	z-index: 100;
	border-radius: 50%;
	box-shadow: 3px 5px 5px rgba(0,0,0,.3), -1px 1px 5px rgba(0,0,0,.3);
	transition: all 300ms ease;
	padding-top: 5px;
}
.sbutt-1{
	bottom: 30px;
	background-color: #0077B5; /*LinkedIn blue*/
	z-index: 40;
}
#floating-container:hover .sbutt-1{
	bottom: 100px;
}
.sbutt-2{
	bottom: 30px;
	/*background - Instagram*/
	background: #f09433; 
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
	z-index: 30;
}
#floating-container:hover .sbutt-2{
	bottom: 160px;
}
.sbutt-3{
	bottom: 30px;
	background-color: black; /*CodePen*/
	z-index: 30;
}
.codepen-icon{
	height: 30px;
	width: auto;
	position: relative;
	top: -3px;
}
#floating-container:hover .sbutt-3{
	bottom: 220px;
}
.sbutt-4{
	bottom: 30px;
	background-color: black;
	z-index: 10;
}
#floating-container:hover .sbutt-4{
	bottom: 280px;
}

/*projects*/
.card-columns a{
	color: #F76B1D;
}
.card-columns a:hover{
	background: linear-gradient(135deg, #F76B1D 0%, #F76B1D 30%, #ffb631 100%) fixed;
	background: -webkit-linear-gradient(315deg, #F76B1D 0%, #F76B1D 30%, #ffb631 100%) fixed;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
#projects .card{transition: all 100ms;}
#projects .card:hover{
	margin-top: .75rem !important;
	margin-bottom: 1.25rem !important;
	-webkit-box-shadow: 1px 5px 20px 1px rgba(0,0,0,.5);
	-moz-box-shadow: 1px 5px 20px 1px rgba(0,0,0,.5);
	box-shadow: 1px 5px 20px 1px rgba(0,0,0,.5);
}