/*
base color: #F76B1D;
complementary blue: #0020B3;
complementary light blue: #2E53FF;
*/
@tailwind base;

@tailwind components;

@tailwind utilities;

html{
	scroll-behavior: smooth;
}
button:focused{
	outline-color: transparent;
}
body{
	text-align: center;	
	/* min-height: 100vh; */
	height: auto;
	position: relative;
	/*padding-bottom: 100px;*/
	overflow: scroll;
}
section{
	scroll-snap-type: start;
}
/* Tailwind CSS extracted components */
.form-textbox{
	@apply rounded-md bg-gray-200 mt-2 px-3 py-2 text-gray-700
}
.blue-grad{
	background: rgb(0, 255, 149);
	background: -moz-linear-gradient(-45deg, rgb(208, 255, 0) 0%, rgb(2, 247, 255) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(208, 255, 0) 0%, rgba(2, 247, 255,1) 100%);
	background: linear-gradient(-45deg, rgba(208, 255, 0) 0%, rgba(2, 247, 255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f76b1d",endColorstr="#ffb631",GradientType=1);
	background-attachment: fixed;
}
.bg-linkedin{
	background-color: #0077B5; /*LinkedIn blue*/
}
.bg-insta{ /*background - Instagram*/
	background: #f09433; 
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.border-primary-ish{ /* replace bootstrap primary border*/
	border-color: #155177;
}
card .nav-link{
	color: #155177;
}
.text-blue-grad{
	background: linear-gradient(135deg, rgb(208, 255, 0) 0%, rgb(2, 247, 255) 100%) fixed;
	background: -webkit-linear-gradient(315deg, rgb(208, 255, 0) 0%, rgb(2, 247, 255) 100%) fixed;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
/* .montserrat{
	font-family: 'Montserrat', sans-serif;
} */
.logomark{
	font-family: 'my-Raleway-logomark', Fallback, sans-serif;
	font-size: 1.7em;
	transition: text-shadow 500ms ease;
	display: inline-block;
	width: 45px;
	height: 45px;
	background-image: url('../img/logomark_G_light-01.svg');
	background-size: contain;
	background-repeat: no-repeat;
}
.logomark:hover{
	color: white;
	text-shadow: 1px 2px 1px orange, 1px 2px 2px orange;
}
nav a:hover span::before{
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 100%;
	position: absolute;
	bottom: 0px;
	transform: translateX(200%);
	/* left: 50% */
	background-color: white;
}
.navbar-dark .navbar-toggler-icon{
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
span{
	font-variant-caps: small-caps;
}
.main-img-wrapper{
	/* background-image: url('https://res.cloudinary.com/dvh3tbhmd/image/upload/c_scale,w_1671/a_90/v1570762003/mug_at_malacca_HDR.jpg'); */
	/* background-image: url('../img/mug port edit 2.png'); */
	/* background-size: contain;
	background-repeat: no-repeat;
	background-position: center; */
	/*min-height: 400px;*/
	min-height: calc(100vh - 71px);
	max-height: 100vh;
	max-width: 800px !important;
	/* display: flex;
	flex-direction: column; */
	overflow: hidden;
	position: relative;
	z-index: 100;
}
.main-img{
    background-image: url('https://res.cloudinary.com/dvh3tbhmd/image/upload/c_scale,w_500/v1581197762/mug_stylish_port.png');
    background-size: contain; /*for transparent png*/
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: center;
    background-position-y: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
	z-index: 100;
}
/* Tech Stack */
#summary i{
	font-size: 4rem;
	margin: 0.4em;
	display: inline-block;
}
#summary div.icon{
	display: inline-block;
	width: 4rem;
	height: 4rem;
	font-size: 4rem;
	margin: 0.4em 0.4em 0em 0.4em;
	line-height: 1;
}
#summary p{
	font-family: 'Roboto', sans-serif;
	font-size: 16pt;
}

/* SOCIAL MENU - changed*/
.social-butt{
	width: 50px;
	height: 50px;
	color: white;
	font-size: 25px;
	position: fixed;
	right: 35px;
	z-index: 100;
	border-radius: 50%;
	box-shadow: 3px 5px 5px rgba(0,0,0,.3), -1px 1px 5px rgba(0,0,0,.3);
	transition: all 300ms ease;
	padding-top: 5px;
}
.svg-icon{
	height: 30px;
	width: auto;
	position: relative;
	top: -3px;
}
.dev-icon{
	-webkit-filter: invert(95%);
    filter: invert(95%);
}
.footer-butt{
	position: relative;
	width: 45px;
	height: 45px;
	/*padding-bottom: 50%;*/
	color: white;
	font-size: 25px;
	line-height: 50px;
	box-shadow: 3px 5px 5px rgba(0,0,0,.3), -1px 1px 5px rgba(0,0,0,.3);
	margin-left: 10px;
	margin-right: 10px;
	/*padding-top: 5px;*/
	display: inline-block;
}
.footer-butt img, .footer-butt i{
	position: absolute;
	top: 50%; left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
}
a.footer-butt, a.footer-butt:hover, a.footer-butt:active, a.footer-butt:visited{
	text-decoration: none;
	color: white;
}

/*projects*/
.slider a{
	text-decoration: underline;
	font-weight: bold;
	font-style: italic;
}
.slider div{
	max-width: 500px;
}
.slider h2:hover{
	background-size: 550px;
}
.tns-outer .tns-nav button{
	width: 10px;
	height: 10px;
}
/* ABOUT */
#prof-img{
	/*background-image: url('../img/UIA_1206a sq.jpg');*/
	background-image: url('https://res.cloudinary.com/dvh3tbhmd/image/upload/c_crop,g_face,x_413,y_413/v1570761994/mug_portrait1.jpg');
	background-size: cover;
	background-position: center;
	background-position: 50% calc(50% + 10px);
	width: 100%;
	height: 100%;
	border: solid 1px black;
}
.main-quote{
	font-family: serif;
	position: relative;
	z-index: 1;
	font-size: 2rem;
}
.main-quote:before{
	content: '\201C'; /*\201C*/
	color: #336699;
	position: relative;
	top: 0.40em;
	left: 0.35em;
	font-size: 5.5em;
	z-index: -1;
	line-height: 0.8em;
}
/*Contact*/

/*FOOTER*/
#my-foot{
	/*position: absolute;*/
	/*bottom: 0;*/
	width: 100%;
}
#my-foot a{
	color: white;
	font-weight: bold;
}
