/*
base color: #F76B1D;
complementary blue: #0020B3;
complementary light blue: #2E53FF;
*/
body{
	text-align: center;	
	min-height: 100vh;
	height: auto;
	position: relative;
	padding-bottom: 100px;
}
.orange-grad{
	background: rgb(247,107,29);
	background: -moz-linear-gradient(135deg, rgba(247,107,29,1) 0%, rgba(255,182,49,1) 100%);
	background: -webkit-linear-gradient(135deg, rgba(247,107,29,1) 0%, rgba(255,182,49,1) 100%);
	background: linear-gradient(135deg, rgba(247,107,29,1) 0%, rgba(255,182,49,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f76b1d",endColorstr="#ffb631",GradientType=1);
	background-attachment: fixed;
}
.montserrat{
	font-family: 'Montserrat', sans-serif;
}
.alex{
	font-family: 'Alex Brush', cursive;
	font-size: 1.5em;
	margin-left: -5px;
}
#contact-butt{
	/*border-radius: 1.5rem;*/
}
#intropara{
	height: 100%;
	vertical-align: center;
}
#intropara h3{
	padding: 0;
	color: black;
}
#sub{
	background-color: white;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
.p-styled{
	font-family: 'Roboto', sans-serif;
	margin-top: 20px;
	font-size: 18pt;
}
.describe{
	text-align: left;
}
span{
	font-variant-caps: small-caps;
}
.notes{
	text-align: right;
	justify-content: right;
	font-style: italic;
	font-size: 20px;
	color: white;
	white-space: pre-line;
	position: absolute;
	left: 10px;
	text-shadow: 1px 2px 3px rgba(0,0,0,.7);
	z-index: 1000;
}
h1.styled{
	/*font-family: 'Major Mono Display', monospace;*/
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	font-size: 2.3em;
	font-weight: bold;
}
.transparent{
	background: linear-gradient(135deg, #F76B1D 0%, #F76B1D 30%, #ffb631 100%) fixed;
	background: -webkit-linear-gradient(315deg, #F76B1D 0%, #F76B1D 30%, #ffb631 100%) fixed;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.h1-major{
	font-family: 'Major Mono Display', monospace;
	margin-bottom: 30px;
	margin-top: 30px;
}
.main-img-wrapper{
	/*background-image: url("../img/IMG_20171118_110634_HDR.jpg");*/
	background-image: url('https://res.cloudinary.com/dvh3tbhmd/image/upload/c_scale,w_1671/a_90/v1570762003/mug_at_malacca_HDR.jpg');
	background-size: cover;
	background-position: center;
	/*min-height: 400px;*/
	min-height: calc(100vh - 68px);
}
#summary{
	padding-top: 20px;
	padding-bottom: 20px;
}
#summary h2{
	color: blue;
}
#summary i{
	color: orangered;
}
#summary p{
	font-family: 'Roboto', sans-serif;
	color: black;
	font-size: 16pt;
}
.zoom{
	transform: scale(1.0);
	transition: transform 300ms ease-out, box-shadow 300ms ease-out; 
}
.zoom:hover{
	transform: scale(1.02);
}

/*Floating social menu*/

.social-butt{
	width: 50px;
	height: 50px;
	color: white;
	font-size: 25px;
	position: fixed;
	right: 35px;
	z-index: 100;
	border-radius: 50%;
	box-shadow: 3px 5px 5px rgba(0,0,0,.3), -1px 1px 5px rgba(0,0,0,.3);
	transition: all 300ms ease;
	padding-top: 5px;
}
.bg-linkedin{
	background-color: #0077B5; /*LinkedIn blue*/
}
.bg-insta{ /*background - Instagram*/
	background: #f09433; 
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.codepen-icon{
	height: 30px;
	width: auto;
	position: relative;
	top: -3px;
}

.footer-butt{
	width: 50px;
	height: 50px;
	color: white;
	font-size: 25px;
	line-height: 50px;
	box-shadow: 3px 5px 5px rgba(0,0,0,.3), -1px 1px 5px rgba(0,0,0,.3);
	margin-left: 10px;
	margin-right: 10px;
	/*padding-top: 5px;*/
	display: inline-block;
}
a.footer-butt, a.footer-butt:hover, a.footer-butt:active, a.footer-butt:visited{
	text-decoration: none;
	color: white;
}

/*projects*/
.card-columns a{
	color: #F76B1D;
}
.card-columns a:hover{
	background: linear-gradient(135deg, #F76B1D 0%, #F76B1D 30%, #ffb631 100%) fixed;
	background: -webkit-linear-gradient(315deg, #F76B1D 0%, #F76B1D 30%, #ffb631 100%) fixed;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
#projects .card{transition: all 100ms;}
#projects .card:hover{
	margin-top: .75rem !important;
	margin-bottom: 1.25rem !important;
	-webkit-box-shadow: 1px 5px 20px 1px rgba(0,0,0,.5);
	-moz-box-shadow: 1px 5px 20px 1px rgba(0,0,0,.5);
	box-shadow: 1px 5px 20px 1px rgba(0,0,0,.5);
}
#prof-img{
	/*background-image: url('../img/UIA_1206a sq.jpg');*/
	background-image: url('https://res.cloudinary.com/dvh3tbhmd/image/upload/c_crop,g_face,x_413,y_413/v1570761994/mug_portrait1.jpg');
	background-size: cover;
	background-position: center;
	width: 200px;
	height: 200px;
	border: solid 1px black;
}
.main-quote{
	font-family: serif;
	position: relative;
}
.main-quote:before{
	content: '\201C'; /*\201C*/
	color: #336699; /*bootstrap blockquote-footer color #6c757d*/
	position: relative;
	top: 0.40em;
	left: 0.15em;
	font-size: 5em;
	z-index: -1;
	line-height: 0.8em;
}
/*Contact*/
#fullscreen-overlay{
	position: fixed;
	top: 0;
	z-index: 30;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	display: none;
}
#close-butt{
	width: 20px;
	height: 20px;
	font-size: 18px;
	border: none;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 30;
}
.contact-area{
	position: absolute;
	min-height: 100vh;
	overflow-y: auto;
}
/*Footer*/
#my-foot{
	position: absolute;
	bottom: 0;
	width: 100%;
}
