<section id="header" class="flex flex-col w-full h-auto align-middle mx-0 pb-24 px-20 relative z-30">
    <div class="sticky top-0 w-full h-24 bg-slate-900 z-10"></div>
    <!-- <h1 class="font-display font-black text-5xl">Odd<span>word</span>blog</h1> -->
    <img src="{{ site.url }}/assets/img/OddwordbloG.svg" alt="Oddword blog header graphic" title="Oddword blog" class="h-24 w-auto my-3">

    <p class="text-2xl italic">Web and personal development  //  tutorials and introspective</p>

    <img src="{{ site.url }}/assets/img/3_backticks_regular_ograd.svg" alt="" width="200px"  class="absolute z-20 bottom-0 mt-20 -mb-6" style="left: 50%; margin-left: -100px;">
</section>