<!-- FOOTER -->
<footer id="my-foot" class="flex justify-evenly text-left m-0 mt-auto py-3 bg-black text-gray-400 w-full">
    <div class="flex flex-col px-3 lg:px-10 ">
        <p class="inline-block my-2"><small>Made with 🤍 & hosted on <a href="https://github.com/Oddward/Oddward.github.io" target="_blank">GitHub</a></small></p>
        <p class="inline-block my-2"><small>© 2019-2021 - Mugtaba Garoot.</small></p>
        <p class="inline-block my-2"><small>Additional Icons: <a href="https://icons8.com" target="_blank">icons8.com</a></small></p>
    </div>
    <div class="flex flex-col px-3 lg:px-10 ">
        <p class="inline-block my-2"><small><a href="{{ site.url }}/about" target="_blank">About</a></small></p>
        <p class="inline-block my-2"><small><a href="{{ site.url }}/blog" target="_blank">Blog</a></small></p>
    </div>
</footer>