<head>
	<title>
        {% if page.title %}
        {{ page.title }}
        {% else %}
        {{ site.data.settings.title }}
        {% endif %}
    </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="keywords" content="web dev, web developer, computer science, graduate, designer, IIUM alumni, UIA alumni, programmer, css, frontend, full-stack, graphic designer, profile, personal website, github pages, mohammed almugtaba garoot, mugtaba garoot, mugtaba g, oddward, tech stack, sudan, sudanese">
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.data.settings.description }}{% endif %}">

    {% if site.author %}
	<meta name="{{ site.author}}" content="{{ . }}">
    {% endif %}
	<!--[if IE]><link rel="shortcut icon" href="favicon-32.ico"><![endif]-->
	<!-- Firefox, Chrome, Safari, IE 11+ and Opera. 196x196 pixels in size. -->
	<link rel="icon" sizes="152" href="{{ site.url }}/favicon-152.png">
	<!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. --> 
	<link rel="apple-touch-icon" sizes="180" href="{{ site.url }}/favicon-180.png">
	<link rel="icon" sizes="512" href="{{ site.url }}/favicon-512.png">
	<link rel="icon" sizes="any" href="{{ site.url }}/favicon.svg">
	
	<!--STYLE-->
	<!-- <link rel="stylesheet" href="css/animation.css"> -->
	<link rel="stylesheet" href="{{ site.url }}/dist/output.css">
	<link rel="stylesheet" href="{{ site.url }}/assets/css/animation.css">

	<!--FONTS-->
	<link href="https://fonts.googleapis.com/css?family=Poppins:wght@700,900&family=Nunito+Sans:ital,wght@300;400;500;700&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/07941692cd.js" crossorigin="anonymous"></script>
	{% if page.title == "Home // Mugtaba G" %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">
	{% endif %}
	<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
	<!-- <link rel="stylesheet" href="{{ site.url }}/node_modules/swiper/swiper-bundle.min.css"/> -->
	<!-- <script src="https://cdn.tailwindcss.com"></script> -->

	<script src="{{ site.url }}/assets/js/script.js"></script>
</head>