<!-- Alt project preview -->
<section id="projects" class="">
    <div class="sticky top-0 w-full h-24 bg-slate-900 z-10"></div>
    <div class="container mx-auto pt-16 pb-10 px-8 md:mx-6 lg:mx-20">
        <h2 class="font-bold text-4xl text-left text-white opacity-primary mb-10">Keeping busy.</h2>

        <h3 class="font-bold opacity-primary text-left">Open source projects</h3>
        <div class="project-card flex flex-col lg:flex-row">
            <img src="" alt="">
            <p>Developing a sleek music player with Reactjs focused on the desktop listening & viewing experience — </p>
        </div>
        <div class="project-card flex flex-col lg:flex-row">
            <img src="" alt="">
            <p>Developing an elegent CMS/site for sharing & viewing smartphone home screen setups, with Laravel PHP</p>
        </div>

        <!-- START OF PROJECTS -->
        <!-- <div class="workSwiper text-left mb-3 font-body font-medium w-3/4">
        <div class="swiper-wrapper">
            <div class="swiper-slide text-gray-800 h-full bg-white shadow-md w-full">
                <div class="px-2">
                    <h2 class="p-5 text-xl md:text-3xl leading-tight md:leading-normal font-black font-display">CodePen | Web Design</h2>
                    <p class="px-5 pb-6 text-xl mb-2">Web design experiments & snippets over on <a href="https://www.codepen.io/oddward">CodePen</a>.</p>
                </div>
            </div>

            <div class="swiper-slide text-gray-800 h-full bg-white shadow-md w-full">
                <div class="px-2">
                    <h2 class="p-5 text-xl md:text-3xl leading-tight md:leading-normal font-black font-display">Kiva Crowdfunding Analysis | Data Sci</h2>
                    <p class="px-5 pb-6 text-xl">Participated in a data science challenge on Kaggle, the data science challenge platform using real datasets - we used R to clean and analyze the <a href="https://www.kaggle.com/kiva/data-science-for-good-kiva-crowdfunding">"Kiva - Crowdfunding for good"</a> dataset.</p>
                </div>
            </div>

            <div class="swiper-slide text-gray-800 h-full bg-white shadow-md w-full">
                <div class="px-2">
                    <h2 class="p-5 text-xl md:text-3xl leading-tight md:leading-normal font-black font-display">Malacca tourism | Entrepreneurship</h2>
                    <p class="px-5 pb-6 text-xl mb-2">Designed and marketed poster ads for a tourism trip as chief of marketing of the organizing committee in an entrepreneurship program. It was a successful trip.</p>
                </div>
            </div>

            <div class="swiper-slide text-gray-800 h-full bg-white shadow-md w-full">
                <div class="px-2">
                    <h2 class="p-5 text-xl md:text-3xl leading-tight md:leading-normal font-black font-display">Social Media content</h2>
                    <p class="px-5 pb-6 text-xl mb-2">Designing helpful/educational content on Instagram; development on <a href="https://instagram.com/oddward.io">@oddward.io</a> and personal development on <a href="https://instagram.com/mugtaba.g">@mugtaba.g</a>.</p>
                </div>
            </div>
        </div>
        </div> -->
        <!-- END OF PROJECTS -->
        <!-- <div id="slide-butt"> -->
            <!-- <div class="swiper-prev inline-block p-1 rounded-sm m-2 text-2xl" role="button"><i class="fas fa-chevron-circle-left"></i></div>
            <div class="swiper-next inline-block p-1 rounded-sm m-2 text-2xl" role="button"><i class="fas fa-chevron-circle-right"></i></div> -->
        <!-- </div> -->
    </div>	
    
</section>