<!-- Alt project preview -->
<section id="projects" class="">
    <div class="sticky top-0 w-full h-24 bg-blue-900 z-10"></div>
    <div class="container mx-auto pt-16 pb-10 px-8 md:mx-6 lg:mx-20">
        <h2 class="font-bold text-4xl text-left text-gray-800 pb-6">Keeping busy.</h2>

        <div class="slider text-left mb-3 font-body font-medium w-full" style="height: 400px;">
            <!-- START OF PROJECTS -->
            <div class="text-gray-800 item w-auto h-full">
                <div class="border-l-2 border-gray-400 px-2">
                    <h2 style="background-image: url('https://res.cloudinary.com/dvh3tbhmd/image/upload/c_scale,w_500,q_70/v1548637333/Oscar_Wilde_codepen.png'); background-size: cover;" class="h-40 w-full rounded-lg shadow-inner"></h2>
                    <h2 class="p-5 text-xl md:text-3xl leading-tight md:leading-normal font-black font-display">Tribute web page | Web Design</h2>
                    <p class="px-5 pb-6 text-xl mb-2">A tribute page made a while back as a mini project for freecodecamp of the writer Oscar Wilde, hosted on <a href="https://codepen.io/Oddward/full/ENodLO" class="font-bold underline italic">CodePen</a> - WEB DESIGN</p>
                </div>
            </div>

            <div class="text-gray-800 item w-auto h-full">
                <div class="border-l-2 border-gray-400 px-2">
                    <h2 class="p-5 text-xl md:text-3xl leading-tight md:leading-normal font-black font-display">MES & Enterprise system | Web App</h2>
                    <p class="px-5 pb-6 text-xl mb-2">Interned with a team that was developing a (discreet) Manufacturing Execution System for an industrial complex - built with Laravel (PHP) - and helped deploy the system on site. Helped senior devs with research & documentation, diagrams, bug testing and quality assurance. Implemented RTL language support for Arabic</p>
                </div>
            </div>

            <div class="text-gray-800 item w-auto h-full">
                <div class="border-l-2 border-gray-400 px-2">
                    <h2 class="p-5 text-xl md:text-3xl leading-tight md:leading-normal font-black font-display">Kiva Crowdfunding Analysis | Data Sci</h2>
                    <p class="px-5 pb-6 text-xl">Participated in a data science challenge on Kaggle, the data science challenge platform using real datasets - we used R to clean and analyze the <a href="https://www.kaggle.com/kiva/data-science-for-good-kiva-crowdfunding">"Kiva - Crowdfunding for good"</a> dataset.</p>
                </div>
            </div>

            <div class="text-gray-800 item w-auto h-full">
                <div class="border-l-2 border-gray-400 px-2">
                    <h2 class="p-5 text-xl md:text-3xl leading-tight md:leading-normal font-black font-display">Malacca tourism | Entrepreneurship</h2>
                    <p class="px-5 pb-6 text-xl mb-2">Designed and marketed poster ads for a tourism trip as chief of marketing of the organizing committee in an entrepreneurship program. It was a successful trip.</p>
                </div>
            </div>

            <div class="text-gray-800 item w-auto h-full">
                <div class="border-l-2 border-gray-400 px-2 shadow-inner">
                    <img src="https://res.cloudinary.com/dvh3tbhmd/image/upload/c_scale,h_500,q_70/v1548711817/Tambun_poster.jpg" alt="Poster ad for Tambun tourism service, scrapped">
                </div>
            </div>

            <div class="text-gray-800 item w-auto h-full">
                <div class="border-l-2 border-gray-400 px-2">
                    <h2 style="background-image: url('https://res.cloudinary.com/dvh3tbhmd/image/upload/v1548711817/IT_islam_poster.jpg'); background-size: cover; background-position: -60%;" class="h-40 w-full rounded-lg"></h2>
                    <h2 class="p-5 text-xl md:text-3xl leading-tight md:leading-normal font-black font-display">Awareness campaign</h2>
                    <p class="px-5 pb-6 text-xl mb-2">Designed & printed an <a href="https://res.cloudinary.com/dvh3tbhmd/image/upload/v1548711817/IT_islam_poster.jpg">infographic poster</a> made for an IT awareness campaign on the topic of the spreading of hoaxes/fake news.</p>
                </div>
            </div>

            <div class="text-gray-800 item w-auto h-full">
                <div class="border-l-2 border-gray-400 px-2">
                    <h2 class="p-5 text-xl md:text-3xl leading-tight md:leading-normal font-black font-display">Social Media content</h2>
                    <p class="px-5 pb-6 text-xl mb-2">Designing helpful/educational content on Instagram; development on <a href="https://instagram.com/oddward.io">@oddward.io</a> and personal development on <a href="https://instagram.com/mugtaba.g">@mugtaba.g</a>.</p>
                </div>
            </div>
            <!-- END OF PROJECTS -->
        </div>
        <div id="slide-butt">
            <div class="inline-block p-1 rounded-sm m-2 text-2xl" role="button"><i class="fas fa-chevron-circle-left"></i></div>
            <div class="inline-block p-1 rounded-sm m-2 text-2xl" role="button"><i class="fas fa-chevron-circle-right"></i></div>
        </div>
        <!-- START OF SOCIAL PREVIEW -->
        <!-- <div class="slider2 text-left" style="height: 400px;">
            
            <div class="item w-auto h-full">
                <a class="" href="https://instagram.com/p/CBkwJConahQ/" target="_blank">
                    <img src="https://instagram.com/p/CBkwJConahQ/media/?size=m">
                </a>
            </div>
            <div class="item w-auto h-full">
                <a class="" href="https://instagram.com/p/CAq-63Knhat/" target="_blank">
                    <img src="https://instagram.com/p/CAq-63Knhat/media/?size=m">
                </a>
            </div>
            <div class="item w-auto h-full">
                <a class="" href="https://instagram.com/p/B_poeyjHZ4v/" target="_blank">
                    <img src="https://instagram.com/p/B_poeyjHZ4v/media/?size=m">
                </a>
            </div>
            <div class="item w-auto h-full">
                <a class="" href="https://instagram.com/p/B_SFcN-HTcL/" target="_blank">
                    <img src="https://instagram.com/p/B_SFcN-HTcL/media/?size=m">
                </a>
            </div>
            <div class="item w-auto h-full">
                <a class="" href="https://instagram.com/p/CBff-LAn2CV/" target="_blank">
                    <img src="https://instagram.com/p/CBff-LAn2CV/media/?size=m">
                </a>
            </div>
            <div class="item w-auto h-full">
                <a class="" href="https://instagram.com/p/CBIdUZ6H4sN/" target="_blank">
                    <img src="https://instagram.com/p/CBIdUZ6H4sN/media/?size=m">
                </a>
            </div>
            
        </div> -->
        <!-- END OF SOCIAL PREVIEW -->
        <!-- <div id="slide-butt2">
            <div class="inline-block p-1 rounded-sm m-2 text-2xl" role="button"><i class="fas fa-chevron-circle-left"></i></div>
            <div class="inline-block p-1 rounded-sm m-2 text-2xl" role="button"><i class="fas fa-chevron-circle-right"></i></div>
        </div> -->
    </div>	
    
</section>