<!-- Alt project preview -->
<section id="projects" class="">
    <div class="sticky top-0 w-full h-24 bg-slate-900 z-10"></div>
    <div class="container mx-auto text-center pt-16 pb-10 px-8 md:mx-6 lg:mx-20">
        <h2 class="font-bold text-4xl text-left text-white opacity-primary mb-10">Keeping busy.</h2>

        <h3 class="font-bold opacity-primary text-center">Open source projects</h3>

        <div class="project-card wide-thumb">
            <img src="{{ 'assets/img/reactmusic_thumb1.jpg' }}" alt="react music app thumbnail">
            <p>Developing a sleek music player with Reactjs focused on the desktop listening & viewing experience — <a href="https://github.com/Oddward/react-music" class="pretty-link font-bold">view project</a>.</p>
        </div>
        <div class="project-card wide-thumb">
            <img src="{{ 'assets/img/nlsetups_thumb2.jpg' }}" alt="NLSetups site thumbnail">
            <p>Developing an elegent CMS/site for sharing & viewing smartphone home screen setups, with Laravel PHP — <a href="https://github.com/Oddward/NLSetups" class="pretty-link font-bold">view project</a>.</p>
        </div>

        <h3 class="font-bold opacity-primary text-center mt-10">Media Content</h3>

        <div class="project-card tall-thumb">
            <img src="{{ 'assets/img/association_thumb.jpg' }}" alt="an instagram post cover">
            <p>Posting design media about personal development && content creation on main <b>instagram</b> — <a href="https://instagram.com/mugtaba.g" class="pretty-link font-bold">view profile</a>.</p>
        </div>
        <div class="project-card tall-thumb">
            <img src="{{ 'assets/img/devattitude_thumb.jpg' }}" alt="react music app thumbnail">
            <p>Posting designs about web development & web design on dev <b>instagram</b> — <a href="https://instagram.com/oddward.io" class="pretty-link font-bold">view profile</a>.</p>
        </div>
        <div class="project-card wide-thumb">
            <img src="https://cdn.dribbble.com/users/9537543/screenshots/17219297/media/a9d116c46d70f4a6a97db4009043d544.png?compress=1&resize=400x300" alt="article site design thumbnail">
            <p>Sharing UI & Graphic design shots on <b>dribbble</b>, working with Figma & Framer — <a href="https://dribbble.com/oddward" class="pretty-link font-bold">view profile</a>.</p>
        </div>
    </div>	
    
</section>