---
layout: blog
excerpt: {{ post.excerpt }}
url: {{ post.url }}
titleVar: {{ post.title }}
title: personal-dev posts // OddWord Blog
permalink: /blog/personal-dev
---

<main class="relative flex flex-row mt-12">
    <div class="w-full mr-12">
        <h1 class="text-2xl"># personal-dev</h1>
        <div id="feed" class="w-100 pt-10">
            <ul>
                {% for post in site.posts %}
                {% if post.tags contains 'personal-dev' %}
                    <li>
                        <!-- <a href="{{ post.url }}">{{ post.title }}</a> -->
                        {% include feed_item.html title=post.title description=post.excerpt url=post.url %}
                    </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="related-links" class="w-24 md:w-48 font-bold">

        <p class="text-2xl text-orange-grad">Tags.</p>
        <div class="mt-2 mb-4">
            <ul>
            {% for tag in site.tags %}
                <li>
                    <a href="{{ site.url }}/{{ tag[0] }}/index" class="pretty-link italic hover:underline">{{ tag[0] }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>

        <p class="text-2xl text-orange-grad mt-8">Friends.</p>
        <div class="mt-2 mb-4">
            <ul>
            {% for friend in site.friends %}
                <li>
                    <a href="{{ friend.href }}" class="pretty-link italic hover:underline">{{ friend.title }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</main>